
header {
    background-color: white;
    padding: 20px;
    height: 60px;
}

nav{
   width: 70%;
   float: left;
}

nav a{
  color:  #48036f;
  text-align: center;
  padding: 14px 5%;
  text-decoration: none;
} 

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

main{
    z-index: 0;
    padding:10%;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    box-shadow: 3px 5px 10px 0 gold ;
}
